h3
{
    text-decoration: underline; 
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.float-left{
    width:250px; 
    height:220px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.p
{
   background-color:black;
    color:white;

}
.e
{
   background-color:black;
    color:white;
}
